.sec1 {

    margin: 2px auto; /* shorthand for margin-top, margin-right, margin-bottom, and margin-left */
    height: 229px;
    width: 952px;
    border: 2px solid black;
    margin-bottom: 39px;
    overflow: hidden; /* Hide any overflowing content in Section 1 */
}


p {
    font-size: 21px;
    font: 580 1em 'Times New Roman', Times, serif; /* shorthand for font-weight, font-size, and font-family */
}


.pic1 {
    width: 100%;
    height: 500px;
}

.sec2 {
 
    border: 3px solid black;
    height: 260px;

    /* Center the container horizontally with top and bottom margin */
    margin: 20px auto; /* shorthand for margin-top and margin-bottom, centering the container horizontally */
    width: 952px;
    
}

/* Image 2 inside Section 2 */
 .pic2 {
         
        width: 100%;
        height: 207%;
        margin-top: -34.5%;
        
        /* displaying only lower half of image */
        clip-path: inset(60% -1% 0% 0%);
     
    }
  
/* Styling for Image 3 */
#img3 {
    position: relative;/* Set Image 3 to be positioned relative to its normal position */
    left: 285px;
    margin-bottom: 20px;
}

.sec3 {
    margin: 0 auto; /* shorthand for margin: top right bottom left to center Section 3 horizontally with auto margin*/
    width: 500px;
    height: 300px;
}

/* Styling for Image Container 3 */
.img-container3 {
    display: flex;/* Use of flexbox for the container of Image 3 */
    justify-content: center;/* Center the content horizontally in Image Container 3 */
    align-items: center;/* Center the content vertically in Image Container 3 */
}
